<ion-view title="Lista: {{var.fecha}}" id="page2">
    <ion-nav-buttons side="right" class="has-header">
        <button class="button button-balanced icon icon ion-android-calendar" style="margin-right: 10px" ng-click="mostrarDatePicker($event)">
        </button>
        <button class="button button-positive icon icon ion-trash-a" ng-click="eliminarRegistro(-1, -1)">
            <ion-icon name="notifications">
                <ion-badge class="badge badge-assertive" style="left: -10px;">{{getPersonas().length}}</ion-badge>
            </ion-icon>
        </button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <ion-list>            
            <ion-item class="item-icon-right" 
                      ng-repeat="persona in getPersonas()"
                      ng-class="'royal': persona.SEXO === 'F' , 'balanced': persona.SEXO === 'M'">
                <h2>DNI: {{persona.DNI}}</h2>
                <p>Apellido: {{persona.APELLIDO}}</p>
                <p>Nombre: {{persona.NOMBRE}}</p>
                <p>Sexo: {{persona.SEXO}}</p>
                <p>E/S: {{persona.TIPO}}</p>
                <p>Hora: {{persona.HORA}}</p>
                <i class="icon ion-android-person icon-accessory"></i>
                <ion-option-button class="button-assertive"
                                   ng-click="eliminarRegistro($index, persona.DNI)">
                    <i class="icon ion-trash-a"></i>
                </ion-option-button>
            </ion-item>
            <ion-item ng-hide="getPersonas().length">
                <h2>Listado vacio</h2>
                <p>No posee escaneos cargados</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>